<<<<<<< Updated upstream
  @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Young+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* font-family: 'Bai Jamjuree', sans-serif; */
}

/* scrolling effect in sections */

html{
  scroll-behavior: smooth;
  /* scroll-snap-type: proximity; */
}

/* home */
.container {
    background-color: #5e5572eb;
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: #B9B4C7;
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(20px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container nav {
    height: 7%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container .logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

/* first letter */
.container .logo::first-letter{
    color: #FAF0E6;
    font-size: 35px;
}

.container nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.container nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
}

.container nav ul li a:hover{
    color: #FAF0E6;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.content .section-1 {
    position: relative;
    width: 40%;
    padding-top: 30px;
}

.content .section-1 h1{
    margin-bottom: 20px;
    font-size: 29px;
    font-weight: 700;
    color: #5e5572eb;
    transition: 0.3s;
}

.content .section-1 h1:hover{
   -webkit-text-stroke: 1px #5e5572eb;
   /* color: #FAF0E6; */
}

.content .section-1 h3{
    font-size: 25px;
    color: #FAF0E6;
    margin-bottom: 10px;
}

.content .section-1 p{
    font-size: 15px;
    color: #505052;
    margin-bottom: 70px;
}

.content .btn{
    padding: 8px 10px;
    border-radius: 5px;
    background-color: rgb(53, 47, 68);
    border: 3px solid rgb(53, 47, 68);
    font-weight: 500;
    text-decoration:  none;
    transition: 0.3s;
    color: #fff;
}

.content .btn:hover{
    background-color: #FAF0E6;
    color: rgb(53, 47, 68);
}

.content .section-2 {
    width: 60%;
    position: relative;
}

.content .section-2::after{
    content: '';
    width: 330px;
    height: 430px;
    z-index: -1;
    top: 1px;
    left: 85px;
}


.content .section-2 img{
    width: 495px;
    height: 440px;
}

.content .social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
}

.content .social a i{
    font-size: 25px;
    /* color: #7c8bd1; */
    color: rgb(53, 47, 68);
    transition: 0.3s;
}

.content .social i:hover{
    color: #FAF0E6;
}


/* our services page start here*/


#Services{
    background-color: #5e5572eb;
    padding-bottom: 50px;
    padding-top: 20px; 
}


/* services h1 */
#head{
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}
.card1 {
    box-shadow: 10px 10px;
    margin-left: 40px;
    height: 450px;
    width: 350px;
    border: 2px solid black;
    border-radius:20px;
    text-align: center;
    display: inline-block;
    
}
.card1 img {
    border-radius: 20px;
    margin-top: 10px;
    height: 180px;
    width: 200px;
    transition: all ease 0.5s;
}

.card1 img:hover{
    height: 190px;
    width: 210px;
}

.cards h1{ 
    margin-top: 20px; 
    margin-bottom: 13px;
}

.cards p{
    color: #505052;
    padding-left: 18px;
    padding-right: 18px;
    text-align: left ;
}

.containerbox{
   
    background-color: #B9B4C7;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.contentbtn {
        padding: 8px 10px;
        border-radius: 5px;
        background-color: rgb(53, 47, 68);
        border: 3px solid rgb(53, 47, 68);
        font-weight: 500;
        text-decoration: none;
        transition: 0.3s;
        color: #FAF0E6;
}

.hor .contentbtn:hover{
        background-color: #FAF0E6;
        color: rgb(53, 47, 68);
}

.hor {
    margin-top: 18px;
}

/* about section */

#about {
    background-color: #5e5572eb;
    z-index: -1;
    height: 600px;
}

.abt1 img {
    /* opacity: 75%; */
    width: 300px;
    height: 600px;
    margin-left: 95px;
    position: absolute;
    rotate: -5deg;
    z-index: 2;
    transition: all ease 2s;
}

#myimg{    
    filter: brightness(125%) contrast(120%);
}

.abt1 img:hover {
    width: 310px;
    height: 620px;
}


#aboutme {
    margin-top: 63px;
    margin-left: 13%;
    font-family: 'Bai Jamjuree', sans-serif;
    height: 80vh;
    width: 75%;
    padding-top: 10px;
    padding-left: 250px;
    padding-right: 25px;
    background-color: #B9B4C7;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(20px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    display: inline;
    z-index: 1;
    transition: all 0.5s;
    font-size: 17px;
    font-weight: 500;
}

li:hover{
    color: #FAF0E6;
}

.display {
    display: inline-flex;
}

#P::first-letter {
    color: #FAF0E6;
    -webkit-initial-letter: 2;
    initial-letter: 2;
}

#P {
    text-decoration: underline #FAF0E6;
    font-weight: 800;
    font-size: 35px;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* contact us */

 #contact-info {
    background-color: #5e5572eb;
    height: 100vh;
}

/* address align content */



  /* form animation starts */
  .form {
    background: #B9B4C7;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 550px;
    margin-left: 42%;
    margin-right: auto;
    margin-top: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #FAF0E6;
    /* animation: bounce 1.5s infinite; */
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
    color: #5e5572eb;
  }
  .name:hover {
    border-bottom: 5px solid #5e5572eb;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .email {
    background-color: #ebebeb;
    color: #5e5572eb;
    height: 2em;
  }
  
  .email:hover {
    border-bottom: 5px solid #5e5572eb;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .message {
    background-color: #ebebeb;
    color: #5e5572eb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid #5e5572eb;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: rgb(53, 47, 68);
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #5e5572eb;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 

  /* Info box 4 partition */

  .containerblock {
    height: 500px ;
    width: 500px;
    box-sizing: border-box;
    /* background-color: black; */
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    padding: 30px;
    position: absolute;
    margin-left: 130px;
    margin-top: 50px;
  }

.fourbox {
    height: 200px;
    width: 200px;
    background-color:#ebebebdc;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    border-top: 5px solid #FAF0E6;
    color: #505052;
    transition: all 0.5s;

}

.fourbox:hover{
    box-shadow: -12px -10px 18px -1px rgba(0, 0, 0, 0.50) ;
    border-bottom: 5px solid rgb(53, 47, 68);
    transform: scale(1.1);  
    


}


.fourbox #img1 {
    height: 75px;
    width: 75px;
    margin-bottom: 8px;
}
.fourbox #img2 {
    height: 75px;
    width: 80px;
    margin-bottom: 8px;
}
.fourbox #img3 {
    height: 75px;
    width: 75px;
}
.fourbox #img4 {
    height: 70px;
    width: 75px;
    margin-bottom: 8px;
}

.atag {
    text-decoration: none;
}

/* top page btn */

#homebtn img{
    height:70px;
    width: 70px;
}

#homebtn {
    z-index: 99;
    position: fixed;
  bottom: 40px;
  right: 20px;

=======
  @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Young+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* font-family: 'Bai Jamjuree', sans-serif; */
}

/* scrolling effect in sections */

html{
  scroll-behavior: smooth;
  /* scroll-snap-type: proximity; */
}

/* home */
.container {
    background-color: #5e5572eb;
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: #B9B4C7;
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(20px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container nav {
    height: 7%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container .logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

/* first letter */
.container .logo::first-letter{
    color: #FAF0E6;
    font-size: 35px;
}

.container nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.container nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
}

.container nav ul li a:hover{
    color: #FAF0E6;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.content .section-1 {
    position: relative;
    width: 40%;
    padding-top: 30px;
}

.content .section-1 h1{
    margin-bottom: 20px;
    font-size: 29px;
    font-weight: 700;
    color: #5e5572eb;
    transition: 0.3s;
}

.content .section-1 h1:hover{
   -webkit-text-stroke: 1px #5e5572eb;
   /* color: #FAF0E6; */
}

.content .section-1 h3{
    font-size: 25px;
    color: #FAF0E6;
    margin-bottom: 10px;
}

.content .section-1 p{
    font-size: 15px;
    color: #505052;
    margin-bottom: 70px;
}

.content .btn{
    padding: 8px 10px;
    border-radius: 5px;
    background-color: rgb(53, 47, 68);
    border: 3px solid rgb(53, 47, 68);
    font-weight: 500;
    text-decoration:  none;
    transition: 0.3s;
    color: #fff;
}

.content .btn:hover{
    background-color: #FAF0E6;
    color: rgb(53, 47, 68);
}

.content .section-2 {
    width: 60%;
    position: relative;
}

.content .section-2::after{
    content: '';
    width: 330px;
    height: 430px;
    z-index: -1;
    top: 1px;
    left: 85px;
}


.content .section-2 img{
    width: 495px;
    height: 440px;
}

.content .social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
}

.content .social a i{
    font-size: 25px;
    /* color: #7c8bd1; */
    color: rgb(53, 47, 68);
    transition: 0.3s;
}

.content .social i:hover{
    color: #FAF0E6;
}


/* our services page start here*/


#Services{
    background-color: #5e5572eb;
    padding-bottom: 50px;
    padding-top: 20px; 
}


/* services h1 */
#head{
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}
.card1 {
    box-shadow: 10px 10px;
    margin-left: 40px;
    height: 450px;
    width: 350px;
    border: 2px solid black;
    border-radius:20px;
    text-align: center;
    display: inline-block;
    
}
.card1 img {
    border-radius: 20px;
    margin-top: 10px;
    height: 180px;
    width: 200px;
    transition: all ease 0.5s;
}

.card1 img:hover{
    height: 190px;
    width: 210px;
}

.cards h1{ 
    margin-top: 20px; 
    margin-bottom: 13px;
}

.cards p{
    color: #505052;
    padding-left: 18px;
    padding-right: 18px;
    text-align: left ;
}

.containerbox{
   
    background-color: #B9B4C7;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.contentbtn {
        padding: 8px 10px;
        border-radius: 5px;
        background-color: rgb(53, 47, 68);
        border: 3px solid rgb(53, 47, 68);
        font-weight: 500;
        text-decoration: none;
        transition: 0.3s;
        color: #FAF0E6;
}

.hor .contentbtn:hover{
        background-color: #FAF0E6;
        color: rgb(53, 47, 68);
}

.hor {
    margin-top: 18px;
}

/* about section */

#about {
    background-color: #5e5572eb;
    z-index: -1;
    height: 600px;
}

.abt1 img {
    /* opacity: 75%; */
    width: 300px;
    height: 600px;
    margin-left: 95px;
    position: absolute;
    rotate: -5deg;
    z-index: 2;
    transition: all ease 2s;
}

#myimg{    
    filter: brightness(125%) contrast(120%);
}

.abt1 img:hover {
    width: 310px;
    height: 620px;
}


#aboutme {
    margin-top: 63px;
    margin-left: 13%;
    font-family: 'Bai Jamjuree', sans-serif;
    height: 80vh;
    width: 75%;
    padding-top: 10px;
    padding-left: 250px;
    padding-right: 25px;
    background-color: #B9B4C7;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(20px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    display: inline;
    z-index: 1;
    transition: all 0.5s;
    font-size: 17px;
    font-weight: 500;
}

li:hover{
    color: #FAF0E6;
}

.display {
    display: inline-flex;
}

#P::first-letter {
    color: #FAF0E6;
    -webkit-initial-letter: 2;
    initial-letter: 2;
}

#P {
    text-decoration: underline #FAF0E6;
    font-weight: 800;
    font-size: 35px;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* contact us */

 #contact-info {
    background-color: #5e5572eb;
    height: 100vh;
}

/* address align content */



  /* form animation starts */
  .form {
    background: #B9B4C7;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 550px;
    margin-left: 42%;
    margin-right: auto;
    margin-top: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #FAF0E6;
    /* animation: bounce 1.5s infinite; */
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
    color: #5e5572eb;
  }
  .name:hover {
    border-bottom: 5px solid #5e5572eb;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .email {
    background-color: #ebebeb;
    color: #5e5572eb;
    height: 2em;
  }
  
  .email:hover {
    border-bottom: 5px solid #5e5572eb;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .message {
    background-color: #ebebeb;
    color: #5e5572eb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid #5e5572eb;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: rgb(53, 47, 68);
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #5e5572eb;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 

  /* Info box 4 partition */

  .containerblock {
    height: 500px ;
    width: 500px;
    box-sizing: border-box;
    /* background-color: black; */
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    padding: 30px;
    position: absolute;
    margin-left: 130px;
    margin-top: 50px;
  }

.fourbox {
    height: 200px;
    width: 200px;
    background-color:#ebebebdc;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    border-top: 5px solid #FAF0E6;
    color: #505052;
    transition: all 0.5s;

}

.fourbox:hover{
    box-shadow: -12px -10px 18px -1px rgba(0, 0, 0, 0.50) ;
    border-bottom: 5px solid rgb(53, 47, 68);
    transform: scale(1.1);  
    


}


.fourbox #img1 {
    height: 75px;
    width: 75px;
    margin-bottom: 8px;
}
.fourbox #img2 {
    height: 75px;
    width: 80px;
    margin-bottom: 8px;
}
.fourbox #img3 {
    height: 75px;
    width: 75px;
}
.fourbox #img4 {
    height: 70px;
    width: 75px;
    margin-bottom: 8px;
}

.atag {
    text-decoration: none;
}

/* top page btn */

#homebtn img{
    height:70px;
    width: 70px;
}

#homebtn {
    z-index: 99;
    position: fixed;
  bottom: 40px;
  right: 20px;

>>>>>>> Stashed changes
}